{% extends 'HWIOAuthBundle::layout.html.twig' %}

{% block hwi_oauth_content %}
    <div class="row">
        <div class="col-md-12">
            <h3>{{ 'header.register' | trans({'%name%': userInformation.realName}, 'HWIOAuthBundle') }}</h3>
        </div>
        <div class="col-md-12">
            {{ form_start(form, {'action': path('hwi_oauth_connect_registration', {'key': key}), 'attr': {'class': 'hwi_oauth_registration_register form-horizontal'}}) }}
            {{ form_errors(form) }}
            <div class="form-group">
                <div class="col-sm-2">
                    {{ form_label(form.email, "Adresse e-mail:") }}
                </div>
                <div class="col-sm-10{% if not form.email.vars.valid %}has-error{% endif %}">
                    {{ form_errors(form.email) }}
                    {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2">
                    {{ form_label(form.username, "Nom d'utilisateur:") }}
                </div>
                <div class="col-sm-10{% if not form.username.vars.valid %}has-error{% endif %}">
                    {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.username) }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2">
                    {{ form_label(form.plainPassword.first, "Mot de passe:") }}
                </div>
                <div class="col-sm-10 {% if not form.plainPassword.first.vars.valid %}has-error{% endif %}">
                    {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.plainPassword.first) }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2">
                    {{ form_label(form.plainPassword.second, "Confirmer le mot de passe:") }}
                </div>
                <div class="col-sm-10">
                    {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.plainPassword.second) }}
                </div>
            </div>
           {#  <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <input class="btn btn-info" type="submit" value="{{ 'registration.submit'|trans }}" />
                </div>
            </div>#}
            {{ form_rest(form) }}
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">{{ 'connect.registration.submit'|trans({}, 'HWIOAuthBundle') }}</button>
                    <a href="{{ path('hwi_oauth_connect') }}" class="btn">{{ 'connect.registration.cancel' | trans({}, 'HWIOAuthBundle') }}</a>
                </div>
            </div>
            {{ form_end(form) }}

        </div>
        {#
        <div class="span6">
            {% if userInformation.profilePicture is not empty %}
                <img src="{{ userInformation.profilePicture }}" />
            {% endif %}
        </div>
        #}
    </div>

{% endblock hwi_oauth_content %}
