{% extends 'HWIOAuthBundle::layout.html.twig' %}

{% block hwi_oauth_content %}
    <div class="row">
        <div class="col-md-12">
            <h3>{{ 'header.register' | trans({'%name%': userInformation.realName}, 'HWIOAuthBundle') }}</h3>
        </div>
        <div class="col-md-12">
            {{ form_start(form, {'action': path('hwi_oauth_connect_registration', {'key': key}), 'attr': {'class': 'hwi_oauth_registration_register form-horizontal'}}) }}
            {{ form_errors(form) }}
            <div class="form-group">
                <div class="col-sm-2">
                    {{ form_label(form.email, "Adresse e-mail:") }}
                </div>
                <div class="col-sm-10{% if not form.email.vars.valid %}has-error{% endif %}">
                    {{ form_errors(form.email) }}
                    {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2">
                    {{ form_label(form.username, "Nom d'utilisateur:") }}
                </div>
                <div class="col-sm-10{% if not form.username.vars.valid %}has-error{% endif %}">
                    {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.username) }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2">
                    {{ form_label(form.plainPassword.first, "Mot de passe:") }}
                </div>
                <div class="col-sm-10 {% if not form.plainPassword.first.vars.valid %}has-error{% endif %}">
                    {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.plainPassword.first) }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2">
                    {{ form_label(form.plainPassword.second, "Confirmer le mot de passe:") }}
                </div>
                <div class="col-sm-10">
                    {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.plainPassword.second) }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2">
                    {{ form_label(form.accountType, "Type de compte:") }}
                </div>
                <div class="col-sm-10">
                    {{ form_widget(form.accountType, {'attr': {'class': 'form-control', 'onchange': 'showMotivationField()'}}) }}
                    {{ form_errors(form.accountType) }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <label class="center-block">
                        <div class="center-block" id='new_profile_img' style="display: none;"></div>
                        <center><div id="old_profile_img"><img src="{{ asset('images/6cbfb45.png') }}" alt="photo profile par défaut"></div><br>Ajouter une<br>photo
                            {{ form_widget(form.imageFile, {'attr': {'class': 'form-control center-block', 'style': 'display:none;'}}) }}
                        </center>
                    </label>
                </div>
            </div>
            <div class="form-group" id="motivationField">
                <div class="col-sm-2">
                    {{ form_label(form.motivation, "Motivation: (minimum 250 caractères)") }}
                </div>
                <div class="col-sm-10">
                    {{ form_widget(form.motivation, {'attr': {'class': 'form-control', 'rows': '5', 'style': 'margin-bottom:20px;'}}) }}
                    {{ form_errors(form.motivation) }}
                </div>
            </div>
            {{ form_rest(form) }}
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">{{ 'connect.registration.submit'|trans({}, 'HWIOAuthBundle') }}</button>
                    <a href="{{ path('hwi_oauth_connect') }}" class="btn">{{ 'connect.registration.cancel' | trans({}, 'HWIOAuthBundle') }}</a>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>

{% endblock hwi_oauth_content %}
{% block script %}
    <script type="text/javascript">
        displayImageOnChange("fos_user_registration_form_imageFile_file");
        showMotivationField();
    </script>
{% endblock %}