<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %}Nos amis les oiseaux{% endblock %}</title>
    <link rel="icon" href="../../favicon.ico">
    {% stylesheets 'bundles/app/css/*' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" /> 
    {% endstylesheets %}
    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/cerulean/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet">
</head>

<body>
    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <div id="close_menu"><span><i class="fa fa-times fa-lg"></i></span></div>
                <li>
                    <div id="user_profil_img">
                        {% image '@AppBundle/Resources/public/images/anonymous.png' %}
                            <img class="user_img" src="{{ asset_url }}" alt="">
                        {% endimage%}
                    </div>
                </li>
                <li>
                    <a href="{{ path('homepage') }}">Accueil</a>
                </li>
                <li>
                    <a href="{{ path('observations') }}">Observations</a>
                </li>
                <li>
                    <a href="{{ path('participate') }}">Participer</a>
                </li>
                <li>
                    <a href="{{ path('map') }}">Carte intéractive</a>
                </li>
                <li>
                    <a href="{{ path('faq') }}">F.A.Q.</a>
                </li>
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <li><a href="{{ path('fos_user_profile_show') }}">Mon compte</a></li>
                    <li><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
                {% else %}
                    <li><a href="{{ path('fos_user_security_login') }}">Connexion</a></li>
                    <li><a href="{{ path('fos_user_registration_register') }}">Inscription</a></li>
                {% endif %}
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- page content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <!-- Navbar -->
                <div class="row">
                    <header class="col-xs-12">
                        <h1>
                            {% image '@AppBundle/Resources/public/images/nao_full_logo.png' %}
                                <a href="{{ path('homepage') }}"><img id="header_img" src="{{ asset_url }}" alt="Nos amis les oiseaux"></a>
                            {% endimage %}
                        </h1>
                        <span id="open_menu"><i class="fa fa-bars fa-3x"></i></span>
                        <div class="nav_desktop visible-md visible-lg">
                            <ul>
                                <li>
                                    <a href="{{ path('homepage') }}">Accueil</a>
                                </li>
                                <li>
                                    <a href="{{ path('observations') }}">Observations</a>
                                </li>
                                <li>
                                    <a href="{{ path('participate') }}">Participer</a>
                                </li>
                                <li>
                                    <a href="{{ path('map') }}">Carte intéractive</a>
                                </li>
                                <li>
                                    <a href="{{ path('faq') }}">F.A.Q.</a>
                                </li>
                                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                    <li><a href="{{ path('fos_user_profile_show') }}">Mon compte</a></li>
                                    <li><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
                                {% else %}
                                    <li><a href="{{ path('fos_user_security_login') }}">Connexion</a></li>
                                    <li><a href="{{ path('fos_user_registration_register') }}">Inscription</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </header>
                </div>
                <!-- /Navbar -->
                <!-- Content -->
                {% block body %}
                    <div class="row">
                        <div class="col-md-12">
                            {% if app.request.hasPreviousSession %}
                                {% for type, messages in app.session.flashbag.all() %}
                                    {% for message in messages %}
                                        <div class="alert alert-{{ type }}">
                                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                                            {{ message }}
                                        </div>
                                    {% endfor %}
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                {% endblock %}
                <div id="footer-wrapper">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="col-xs-12 col-md-4">
                                    <h3 class="footer_titles text-center">Plan de site</h3>
                                    <ul class="footer_list list_pages_link">
                                        <li>
                                            <a href="{{ path('homepage') }}">Accueil</a>
                                        </li>
                                        <li>
                                            <a href="{{ path('observations') }}">Observations</a>
                                        </li>
                                        <li>
                                            <a href="{{ path('participate') }}">Participer</a>
                                        </li>
                                        <li>
                                            <a href="{{ path('map') }}">Carte intéractive</a>
                                        </li>
                                        <li>
                                            <a href="{{ path('faq') }}">F.A.Q.</a>
                                        </li>
                                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                            <li><a href="{{ path('fos_user_profile_show') }}">Mon compte</a></li>
                                            <li><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
                                        {% else %}
                                            <li><a href="{{ path('fos_user_security_login') }}">Connexion</a></li>
                                            <li><a href="{{ path('fos_user_registration_register') }}">Inscription</a></li>
                                        {% endif %}
                                    </ul>
                                </div>
                                <div class="col-xs-12 col-md-4">
                                    <h3 class="footer_titles text-center">Contact</h3>
                                    <ul class="footer_list contact_list">
                                        <li>
                                            <span><i class="fa fa-map-marker"></i> Association NAO</span><br>
                                            <span>36 rue de la vallée des ronces</span><br>
                                            <span>75006 PARIS</span>
                                        </li>
                                        <li>
                                            <i class="fa fa-phone"></i> <a href="tel:0148356221" alt="Numéro de téléphone fixe">01 48 35 62 21</a><br>
                                            <i class="fa fa-phone"></i> <a href="tel:0624533221" alt="Numéro de téléphone fixe">06 24 52 32 21</a>
                                        </li>
                                        <li>
                                            <i class="fa fa-envelope"></i> <a href="mailto:contact@nao.org" alt="Contactez-nous">contact@nao.org</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-xs-12 col-md-4">
                                    <h3 class="footer_titles text-center">Newsletter</h3>
                                    <p class="text-center">
                                        Inscrivez-vous pour recevoir l'actualité de NAO
                                    </p>
                                    <form action="{{ path('register_newsletter') }}" method="POST">
                                        <div class="form-inline">
                                            <div class="input-group col-xs-12 mb-2 mr-sm-2 mb-sm-0">
                                                <input type="text" name="name" class="form-control" id="newsletter_name" placeholder="Prénom">
                                                <input type="email" name="email" class="form-control" id="newsletter_mail" placeholder="Adresse email">
                                                <div class="input-group-addon">OK</div>
                                            </div>
                                            <button type="submit" id="newsLet_submit" class="col-xs-2" style="display:none;"></button>
                                        </div>
                                    </form>
                                    <br>
                                    <p class="text-center">
                                        Suivez-nous et partagez sur
                                    </p>
                                    <div class="text-center">
                                        <a href="#" alt="Page Facebook"><i class="fa fa-facebook-official fa-4x" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>
    <!-- Bootstrap core JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

    {% block javascripts %}
        {% javascripts  '@AppBundle/Resources/public/js/moment-with-locales.min.js'
        '@AppBundle/Resources/public/js/bootstrap-datetimepicker.min.js'
        '@AppBundle/Resources/public/js/*'
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}

    {% block script %}
    {% endblock %}
</body>
</html>
