{% extends "layout/layout.html.twig" %}

{% block body %}
<div class="row">
	<div class="filter">
        <form>

        </form>
    </div>
    <div class="page_title">
        <center><h2>Observations</h2></center>
    </div>
    <div id="observations_wrapper" class="col-xs-12">
        {% for observation in observations %}
            <div class="observation col-xs-12">
                <a href="{{ path('observation', {'id': observation.id}) }}">
                    <div class="col-xs-12 col-sm-4 col-md-3">
                        <center>
                        	<img class="observation_img text-center" src="{{ app.request.getSchemeAndHttpHost() }}/NAO/web/uploads/images/observations/{{ observation.image }}">
                        </center>
                    </div>
                    <div class="observation_content col-xs-12 col-sm-8 col-md-9 col-lg-7">
                        <h3 class="observation_title text-center">{{ observation.bird.nomVer }}</h3>
                        <p class="observation_meta text-center">Vu le : {{ observation.date | date("d/m/Y") }} à {{observation.date | date("H:i:s")}}</p>
                        <p class="observation_desc hidden-xs">
                            {{observation.description}}
                        </p>
                    </div>
                    <div class="observation_map visible-lg visible-md col-md-12 col-lg-2">
                        <p class="bookmark">Ajouter au favoris <i class="fa fa-heart-o"></i></p>
                        <center>
                        	{% image '@AppBundle/Resources/public/images/btn_map.png' %}
                            	<img class="observation_map_link" src="{{ asset_url }}">
                            {% endimage %}
                            <br>
                            <a class="btn btn-primary" href="{{ path('map') }}">Voir sur la carte</a>
                        </center>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
