{% extends "layout/layout.html.twig" %}

{% block body %}
<div class="row map-container">
	<div id="form_filter_container" class="filter col-xs-12 hidden-xs hidden-sm">
        {{ form_start(form) }}
            {{ form_errors(form) }}

            <div class="col-md-12">
                <div class="col-md-6">
                    <div class="form-group col-md-11 col-md-offset-1">
                        {{ form_errors(form.bird) }}
                        {{ form_widget(form.bird, {'attr':{'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group col-md-5 col-md-offset-7">
                        {{ form_errors(form.region) }}
                        {{ form_widget(form.region, {'attr':{'class': 'form-control', 'placeholder': 'Region'}}) }}
                    </div>
                    <div class="form-group col-md-5 col-md-offset-7">
                        {{ form_errors(form.popularity) }}
                        {{ form_widget(form.popularity, {'attr':{'class': 'form-control'}}) }}
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group col-md-11">
                        {{ form_errors(form.dateSince) }}
                        {{ form_widget(form.dateSince, {'attr':{'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group col-md-11">
                        {{ form_errors(form.city) }}
                        {{ form_widget(form.city, {'attr':{'class': 'form-control', 'placeholder': 'Ville'}}) }}
                    </div>
                    <div class="form-group col-md-11">
                        {{ form_errors(form.nbObserved) }}
                        {{ form_widget(form.nbObserved, {'attr':{'class': 'form-control', 'placeholder': 'Nombre minimum'}}) }}
                    </div>
                </div>

                <div class="form-group col-md-2 col-xs-12">
                    {{ form_widget(form.valider, {'attr':{'class': 'btn btn-info col-md-9 col-xs-10 col-xs-offset-1'}}) }}
                </div>

                <div class="form-group col-md-2 col-xs-12">
                    <a href="{{ path('map') }}" alt="Réinitialiser le filtre"><span id="btn_init_filter" class="btn btn-info col-md-9 col-xs-10 col-xs-offset-1">Réinitialiser <i class="fa fa-undo"></i></span></a>
                </div>

                <div class="form-group col-xs-12 visible-xs visible-sm">
                    <span id="btn_close_filter" class="btn btn-info col-xs-10 col-xs-offset-1">Fermer <i class="fa fa-times"></i></span>
                </div>
            </div>

        {{ form_end(form) }}
    </div>
    <div id="filter_open" class="col-xs-12 visible-xs visible-sm">
        <button id="btn_open_filter" class="btn btn-info col-xs-10 col-xs-offset-1">Filtre <i class="fa fa-search"></i></button>
    </div>
    <div id="map-observe"></div>
    <div id="loading" style="display:none">
    	<p>
			{% image '@AppBundle/Resources/public/images/loading.gif' %}
    			<img src="{{ asset_url }}">
    		{% endimage %}
    		Chargement...
    	</p>
	</div>
</div>

<script type="text/javascript">
    {% if observations is defined %}
        var observations = {};

        {% for observation in observations %}
            var latitudeObserved = {{ observation.address.lat }};
            var longitudeObserved = {{ observation.address.lng }};
            var birdObserved = '{{ observation.bird.nomVer }}';
            var nbObserved = {{ observation.nbObserved }};
            var dateObserved = '{{ observation.date | date('Y-m-d H:i:s') }}';
            var imgObserved = '{{ vich_uploader_asset(observation, 'imageFile') }}';
            
            // Rajout de l'observation à la liste des observations
            observations[{{ loop.index0 }}] = {lat: latitudeObserved, lng: longitudeObserved, bird: birdObserved, nbr: nbObserved, date: dateObserved, img: imgObserved};
        {% endfor %}
    {% else %}
        var observations = undefined;
    {% endif %}
</script>


{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts '@AppBundle/Resources/public/js/front/map/init.js' %}
        <script src="{{ asset_url }}"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCGfq5n1vQSGUbBjqfEPaKBXMp81UcrvOU&callback=initMap" async defer></script>
    {% endjavascripts %}
{% endblock javascripts %}
