	{{ form_start(form, {'action': path('register_newsletter'), 'method': 'GET', 'attr':{'class': 'form_newsletters'}}) }}
        {{ form_errors(form) }}
		<div class="col-xs-12">
            <div class="form-group col-xs-12">
                {{ form_errors(form.name) }}
                {{ form_widget(form.name, {'attr':{'class': 'form-control', 'placeholder': 'Prénom'}}) }}
            </div>
            <div class="form-group col-xs-12">
                {{ form_errors(form.mail) }}
                {{ form_widget(form.mail, {'attr':{'class': 'form-control', 'placeholder': 'Adresse mail'}}) }}
            </div>
            <div class="form-group col-xs-8 col-xs-offset-2">
                {{ form_widget(form.valider, {'attr':{'class': 'form-control'}}) }}
            </div>
	    </div>
    {{ form_end(form) }}
