{% extends "layout/layout.html.twig" %}

{% block body %}
<div class="row participate">
	<div id="participate_form" class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
		{{ form_start(form) }}
		    {{ form_errors(form) }}

			<div class="col-xs-12 col-lg-4">
			    <div class="form-group">
				        {{ form_errors(form.imageFile) }}
				    <label class="btn btn-default btn-file">
				        <i class="fa fa-camera fa-3x"></i><br>Ajouter une<br>photo {{ form_widget(form.imageFile, {'attr':{'class': 'form-control', 'style': 'display: none;'}}) }}
				    </label>
			    </div>
			</div>

			<div class="col-xs-12 col-lg-8">
				<div class="form-group col-md-12">
			    	<a id="help_participate" src="#">Aide ?</a>
			    </div>
			    <div class="form-group col-md-12">
			        {{ form_errors(form.observeAt) }}
			        {{ form_widget(form.observeAt, {'id': 'datetimepicker', 'attr':{'class': 'form-control', 'placeholder': 'date'}}) }}
			    </div>

			    <div class="form-group col-md-7">
			        {{ form_errors(form.address.address) }}
			        {{ form_widget(form.address.address, {'attr':{'onchange': 'codeAddress()', 'class': 'form-control', 'placeholder': 'Adresse'}}) }}
			    </div>

			    <div class="form-group col-md-5">
			    	<button class="btn btn-default form-control" onclick="geocodeLocalisation()"><i class="fa fa-bullseye"></i> Geolocalisation</button>
			    </div>

			    <div class="form-group col-md-6">

			        {{ form_errors(form.address.postalCode) }}
			        {{ form_widget(form.address.postalCode, {'attr':{'onchange': 'codeAddress()', 'class': 'form-control', 'placeholder': 'Code postal'}}) }}
			    </div>

			    <div class="form-group col-md-6">
			        {{ form_errors(form.address.city) }}
			        {{ form_widget(form.address.city, {'attr':{'onchange': 'codeAddress()', 'class': 'form-control', 'placeholder': 'Ville'}}) }}
			    </div>

			    <div style="display: none;">
			        {{ form_widget(form.address.lat) }}
			    </div>

			    <div style="display: none;">
			        {{ form_widget(form.address.lng) }}
			    </div>

			    <div style="display: none;">
			        {{ form_widget(form.address.region) }}
			    </div>
			</div>

		    <div class="form-group col-md-10">
		        {{ form_errors(form.bird) }}
		        {{ form_widget(form.bird, {'attr':{'class': 'form-control'}}) }}
		    </div>

		    <div class="form-group col-md-2">
		        {{ form_errors(form.nbObserved) }}
		        {{ form_widget(form.nbObserved, {'attr':{'class': 'form-control', 'placeholder': 'Nombre'}}) }}
		    </div>

			{% if is_granted("ROLE_ADMIN") %}
				<div class="form-group col-md-2 col-md-push-10">
					{{ form_errors(form.state) }}
					{{ form_widget(form.state, {'attr':{'class': 'form-control', 'placeholder': 'Statut'}}) }}
				</div>
			{% endif %}

		    <div class="form-group col-md-12">
		        {{ form_errors(form.description) }}
		        {{ form_widget(form.description, {'attr':{'class': 'form-control', 'rows': '10', 'placeholder': 'Description'}}) }}
		    </div>

		    <div class="form-group col-md-12">
		        {{ form_widget(form.valider, {'attr':{'class': 'btn btn-info center-block'}}) }}
		    </div>

		{{ form_end(form) }}
	</div>
</div>


{% javascripts '@AppBundle/Resources/public/js/front/map/geocode.js' %}
	<script src="{{ asset_url }}"></script>
{% endjavascripts %}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCGfq5n1vQSGUbBjqfEPaKBXMp81UcrvOU&callback=initialize" async defer></script>


{% endblock %}
{% block script %}
	<script type="text/javascript">
		$(function () {
			$('#datetimepicker').datetimepicker({
				locale: 'fr',
				maxDate: "now",
			});
		});
	</script>
{% endblock %}