{% extends "layout/layout.html.twig" %}

{% block body %}
<div class="row">
	<div id="observations_wrapper" class="col-xs-12">
        <div class="observation_show col-xs-12">
        	<div class="col-xs-12 visible-xs visible-sm">
				<h3 class="observation_title">{{ observation.bird.nomVer }}</h3>
            </div>
            <div class="col-xs-4 col-md-3">
                <center>
                	<img class="observation_img text-center" src="{{ app.request.getSchemeAndHttpHost() }}/NAO/web/uploads/images/observations/{{ observation.image }}">
                </center>
            </div>
            <div class="observation_content col-xs-7 col-xs-offset-1  col-md-offset-0 col-md-6 col-lg-7">
                <p class="bookmark">Ajouter au favoris <i class="fa fa-heart-o"></i></p>
                <h3 class="observation_title visible-md visible-lg">{{ observation.bird.nomVer }}</h3>
                <p class="observation_meta">Vu le : {{ observation.date | date("d/m/Y") }} à {{observation.date | date("H:i:s")}}<br>Ville : {{ observation.address.city }}</p>
                <p class="observation_desc hidden-xs">
                    {{observation.description}}
                </p>
            </div>
            <div class="col-xs-12 visible-xs visible-sm">
            	<p class="observation_desc">
                    {{observation.description}}
                </p>
            </div>
            <div class="observation_map col-xs-12 col-md-3 col-lg-2">
                <center>
                	{% image '@AppBundle/Resources/public/images/btn_map.png' %}
                    	<img class="observation_map_link" src="{{ asset_url }}">
                    {% endimage %}
                    <br>
                    <a class="btn btn-primary" href="{{ path('map_observe', {'id': observation.id}) }}">Voir sur la carte</a>
                </center>
            </div>
        </div>
    </div>
</div>
{% endblock %}
