<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %}Nos amis les oiseaux{% endblock %}</title>
    <link rel="icon" href="../../favicon.ico">
    {% stylesheets '@AppBundle/Resources/public/css/start/startpage.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" /> 
    {% endstylesheets %}
    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/cerulean/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>

    <div id="wrapper" class="fullscreen">
    	<div id="first_page" class="fullscreen" style="">
            <div class="col-md-12">
                {% image '@AppBundle/Resources/public/images/nao_full_logo.png' %}
                    <img id="header_img" src="{{ asset_url }}" alt="Nos amis les oiseaux">
                {% endimage %}
            </div>
            <div class="start_content col-md-6 col-md-offset-3">
                <p class="text-center start_text">
                    Le plus ambitieux programme d'observation jamais créé.
                    Bienvenue sur le site de recherche et observation d'oiseaux pour les passionnés d'ornithologie!
                    Collectionnez vos oiseaux favoris & emportez-les partout avec vous! Inscription rapide & gratuite à vie.
                </p>
            </div>
            <button id="start_button" class="btn btn-primary center-block">Commencer</button>
    	</div>
        <div id="second_page" class="fullscreen" style="display: none;">
            <div class="border_content col-md-2 col-md-offset-2">
                {% image '@AppBundle/Resources/public/images/start_carte.png' %}
                    <img class="start_img center-block" src="{{ asset_url }}" alt="Nos amis les oiseaux">
                {% endimage %}
                <h2 class="text-center">1. Je me promène</h2>
                <p class="text-center">
                    Où que vous soyez en France, vous pouvez collaborer
                </p>
            </div>
            <div class="border_content col-md-2 col-md-offset-1">
                {% image '@AppBundle/Resources/public/images/start_observe.png' %}
                    <img class="start_img center-block" src="{{ asset_url }}" alt="Nos amis les oiseaux">
                {% endimage %}
                <h2 class="text-center">2. J'observe</h2>
                <p class="text-center">
                    Arrêtez vous pour observer et photographier les espèces rencontrées
                </p>
            </div>
            <div class="border_content col-md-2 col-md-offset-1">
                {% image '@AppBundle/Resources/public/images/start_particip.png' %}
                    <img class="start_img center-block" src="{{ asset_url }}" alt="Nos amis les oiseaux">
                {% endimage %}
                <h2 class="text-center">3. Je partage</h2>
                <p class="text-center">
                    Partagez vos infos directement via votre smartphone ou simplement sur votre ordinateur en rentrant à la maison
                </p>
            </div>
            <a href="{{ path('homepage') }}"><button class="btn btn-default center-block">C'est partie</button></a>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% block javascripts %} {% javascripts '@AppBundle/Resources/public/js/*' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %} {% endblock %}

</body>
</html>
