{% trans_default_domain 'FOSUserBundle' %}

<div class="row">
    <div class="col-md-12 text-center">
        <div class="fos_user_user_show">
            {{ render(controller('UserBundle:Profile:changeProfileImage')) }}
            <p><a href="{{ path('fos_user_profile_edit') }}">Mes informations personnelles</a></p>
            <p><a href="#">Mes notifications</a></p>
            <p><a href="{{ path('user_observations') }}">Mes observations</a></p>
            <p><a href="{{ path('user_favorite_observations') }}">Ma liste d'observation favorites</a></p>
            {% if is_granted("ROLE_ADMIN") %}
                <p><a href="{{ path('observations_to_validate') }}">Observations à valider</a></p>
            {% endif %}
        </div>
    </div>
</div>
